# Flask
FLASK_SECRET_KEY=131620

# MongoDB
# For Docker Compose this will be mongodb://mongo:27017/
# For local dev it can be mongodb://localhost:27017/
MONGO_URI=mongodb://mongo:27017/

# Demo fallback (legacy)
DEMO_USER=admin
DEMO_PASS=password

